<nav class="row">
    <div class="nav-main col-md-9 row align-items-center">
        <div class="d-flex">
            <div class="nav-block">
                {% if active == 'dashboard' %}<a href="{% url 'core:dashboard'%}" class="active">
                {% else %}<a href="{% url 'core:dashboard'%}">{% endif %}
                    <i class="fas fa-eye"></i>
                    <span>Tổng quan</span>
                </a>
            </div>
            <div class="nav-block">
                {% if active == 'products' %}<a href="#" class="active">
                {% else %}<a href="#">{% endif %}
                    <i class="fas fa-box-open"></i>
                    <span>Hàng hoá</span>
                </a>
                <div class="dropdown-nav">
                    <a href="{% url 'products:warehouse' %}" >
                        <i class="fas fa-th-list"></i>
                        <span>Kho hàng</span>
                    </a>
                    <a href="{% url 'products:product-creation' %}" >
                        <i class="fas fa-plus-circle"></i>
                        <span>Thêm hàng</span>
                    </a>
                </div>
            </div>
            <div class="nav-block">
                <a href="#">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Giao dịch</span>
                </a>
                <div class="dropdown-nav">
                    <a href="#" >
                        <i class="fas fa-box"></i>
                        <span>Đặt hàng</span>
                    </a>
                    <a href="{% url 'sales:list-invoices' %}">
                        <i class="fas fa-file-invoice"></i>
                        <span>Hoá đơn</span>
                    </a>
                </div>
            </div>
            <div class="nav-block">
                <a href="#">
                    <i class="fas fa-user-tag"></i>
                    <span>Nhân viên</span>
                </a>
            </div>
            <div class="nav-block">
                <a href="#">
                    <i class="fas fa-chart-line"></i>
                    <span>Báo cáo</span>
                </a>
                <div class="dropdown-nav">
                    <a href="#" >
                        <i class="fas fa-balance-scale-right"></i>
                        <span>Bán hàng</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-box-open"></i>
                        <span>Hàng hoá</span>
                    </a>
<!--                    <a href="#">-->
<!--                        <i class="fas fa-eye"></i>-->
<!--                        <span>Khách hàng</span>-->
<!--                    </a>-->
                    <a href="#">
                        <i class="fas fa-user-tag"></i>
                        <span>Nhân viên</span>
                    </a>
<!--                    <a href="#">-->
<!--                        <i class="fas fa-wallet"></i>-->
<!--                        <span>Tài chính</span>-->
<!--                    </a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="nav-right col-md-3 row align-items-center justify-content-end">
        <div class="nav-block">
            <a href="{% url 'sales:sales' %}">
                <i class="fas fa-balance-scale-right"></i>
                <span>Bán hàng</span>
            </a>
        </div>
    </div>
</nav>