:root {
    --main-bg-color: #0b82c8;
    --main-font-size: 0.9375rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.hand {
    cursor: pointer;
}

.line {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.bg-hover {
    padding: 8px 10px;
}

.bg-hover:hover {
    background-color: #00000026;
    border-radius: 3px;
}

.txt-bold {
    font-weight: bold;
}

.header {
    background-color: var(--main-bg-color);
    height: 45px;
    padding: 0px 20px;
    display: flex;
}

.header-search .search-bar {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.header-search .search-bar i {
    color: #a1a7ad;
}

.header-search .search-bar > i {
    position: absolute;
    left: 5px;
}

.search-bar .result {
    position: absolute;
    max-height: 500px;
    background-color: white;
    width: 100%;
    top: 90%;
    z-index: 9999;
    box-shadow: 0 5px 15px #deddd9;
    border-radius: 3px;
    overflow-y: scroll;
}

.search-bar .result .product-avt img {
    width: 80px;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.search-result-item {
    margin-bottom: 1rem;
}

.search-result-item:hover {
    background-color: var(--main-bg-color);
    color: white !important;
    border-radius: 3px;
}

.product-meta .product-name {
    font-weight: bold;
    font-size: var(--main-font-size);
}

.product-meta {
    font-size: 0.8rem;
}

.header .tab-invoices .list-tab {
    overflow: hidden;
}

.input-border-bottom {
    border-radius: 3px;
    border: 1px cornsilk solid;
    width: 100%;
    padding: 7px 25px;
    text-indent: 5px;
    outline: none;
    font-size: var(--main-font-size);
}

.sell-right .input-border-bottom {
    border-color: #d8d6d6;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    font-size: var(--main-font-size);
    padding: 5px 25px;
}

.sell-right .input-border-bottom:focus {
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 4px;
}

.sell-right .search-bar i {
    font-size: 0.9rem;
}

.header-search .search-bar .add-customer {
    position: absolute;
    left: 93%;
    padding: 1px 6px;
    border-radius: 50%;
}

.header-search .search-bar .add-customer:hover {
    background-color: #f1f1f1;
    transition: 0.5s all;
}

.sell-right .invoice-title {
    background-color: var(--main-bg-color);
    color: white;
    font-size: var(--main-font-size);
}

.payment {
    font-size: 0.85rem;
    padding: 10px 0;
}

.fr {
    display: flex;
    justify-content: flex-end;
    font-size: var(--main-font-size);
}

.payment-money .label span {
    color: #029814;
    font-size: 1.1rem;
}

.label #refund {
    font-size: 1.1rem;
}

.sell-right .label .input-border-bottom {
    font-size: 1.1rem;
}

.payment .input-border-bottom {
    padding: 0 0 1px;
    text-align: end;
    -moz-appearance: textfield;
    border-color: #cacaca;
}

.payment .input-border-bottom:focus {
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 0;
}

.payment input::-webkit-outer-spin-button,
.payment input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.note .input-border-bottom {
    border-color: #cacaca;
}

.note {
    position: relative;
}

.note i {
    position: absolute;
    top: 8px;
    color: #a7a7a7;
}

.submit button {
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.tab-invoices .list-tab {
    list-style: none;
    display: flex;
    height: 100%;
}

.tab-invoices .list-tab i {
    font-size: 14px;
    color: white;
}

.tab-invoices .list-tab .selected i {
    color: #a1a7ad;
}

#add-order i {
    color: white;
}

.header-right {
    color: white !important;
}

.header-right .more:hover {
    background-color: #00000026;
    border-radius: 3px;
}

.header-right .more {
    position: relative;
}

.header-right .more ul {
    position: absolute;
    top: 100%;
    right: -20px;
    background-color: var(--main-bg-color);
    z-index: 10;
    min-width: 200px;
    border-radius: 3px;
    list-style: none;
}

.header-right .more ul li a {
    display: flex;
    padding: 5px 10px;
    color: #ffffffeb;
    font-size: 0.9rem;
    text-decoration: none;
    align-items: center;
}

.header-right .more ul li:hover a {
    color: white;
}

.header-right .more ul li a i {
    font-size: 0.95rem;
}

.header-right .more ul li:hover {background-color: #0000003d;}

.header-right .more ul li {
    padding: 5px 0;
}

.header-right .more i {
    font-size: 1.3rem;
}

.header-right .user .username {
    font-size: var(--main-font-size);
}

.sell-left {
    background-color: #f1f0f0;
}

.sell-left .cart .remove-item {
    color: #848484;
}

.sell-left .cart .product-item {
    height: 70px;
    background-color: white;
    box-shadow: 0 5px 15px #deddd9;
    border-radius: 5px;
}

.product-item .product-item-data {
    font-size: var(--main-font-size) !important;
}

.product-item .product-item-data .subtotal {
    font-weight: bold;
}

.product-item .product-item-data .product-quantity {
    border-width: 0 0 1px 0;
    border-color: #666666;
    outline: none;
}

i.available.fas.fa-exclamation-triangle {
    display: none;
}

i.available.fas.fa-exclamation-triangle.invalid {
    display: initial !important;
}

#customer-form {
    font-size: 0.8rem;
}

.customer-show {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--main-bg-color);
    height: 40px;
    color: #a1a7ad;
}

.customer-show > span {
    font-size: 0.8rem;
    background-color: #c0c5ca70;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 3px;
    color: #005592;
    font-weight: bold;
}

.customer-show i.fa-times {
    position: absolute;
    left: 97.7%;
    padding: 5px 7px;
    border-radius: 50%;
}

.customer-show i.fa-times:hover {
    background-color: #f1f1f1;
    transition: 0.5s all;
}

/*@media screen and (min-width: )*/

@media screen and (min-width: 998px) {
    .header .header-search {
        width: 35%;
        height: 100%;
    }

    .header .tab-invoices {
        width: 40%;
        height: 100%;
    }

    .header .header-right {
        width: 25%;
        height: 100%;
    }

    .tab-invoices .list-tab .invoice {
        min-width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
        font-size: var(--main-font-size);
        color: white;
        background-color: #01010112;
    }

    .invoice.selected {
        background-color: white !important;
        color: #212529 !important;
    }

    .sell-main {
        height: 100%;
    }

    .sell-main .sell-left {
        width: 100%;
    }

    .sell-main .sell-right {
        min-width: 350px;
        max-width: 350px;
        padding: 10px;
    }
}